// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'nav';
@import 'hero';
@import 'main';
@import 'footer';
@import 'city';

.nav-links,
a {
  padding: 0.5rem;
  color: white;
  text-decoration: none;

}



@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px) {
    .full-page  {
      display: flex;
      flex-direction: column;
    }
  }
@media only screen
  and (min-device-width: 400px)
  and (max-device-width: 767px) {
    .full-page  {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
