body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  /*grow up to 65rem*/
  max-width: 70rem;
  /*center if there is width left*/
  /*margin: auto;*/
  margin: 0 4rem  0  8rem;
  display: flex;
  position: relative;
}
.card {
  width: calc(100% / 2 - 2rem - 2rem);
  box-shadow: .2rem .2rem .4rem;
  float: left;
  position: relative;
  margin: 2rem;
}

.post__title {
  margin: 0;
  text-align: center;
}
.description {
  padding: 2rem;
  position: relative;
  background: #c64b25;
}

.post {
  padding: 1rem;
}

.week {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.5rem;
  margin: 0;
  background: #131f56;
  color: white;
  transform: translate(-50%, -50%);
}
.nav-links,
a {
  padding: 0.5rem;
  color: white;
  text-decoration: none;

}

.post {
padding: 1rem;
}
