body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.nav__bar {
  background: #64b5f6;
  color: white;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;
}

.auth__name {
  text-align: left;
  margin-left: 2rem;
}

.links {
  margin-right: 3rem;

  text-decoration: none;
  color: white;
  /*float: right;*/
  align-items: center;
}

.nav-links,
a {
  padding: 0.5rem;
  color: white;
  text-decoration: none;

}

.container {
  /*grow up to 65rem*/
  max-width: 70rem;
  /*center if there is width left*/
  /*margin: auto;*/
  margin: 0 4rem 0 8rem;
}

.card {
  /*width: calc(100% / 2 - 1rem - 10rem);*/
  box-shadow: 0.2rem 0.2rem 0.4rem;
  float: left;
  max-width: 25rem;
  position: relative;
  margin: 3rem;
}

.post__title {
  text-align: center;
  background: #c64b25;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.post {
  text-align: center;
}

.img {
  max-width: 30%;
  margin-top: 0.3rem;
  border-radius: 50%;
  position: absolute;
  /*top: 14.5%;
  left: 3%;*/
  /*position: absolute;*/
  margin-left: -3rem;
}

.week {
  position: absolute;
  width: 25%;
  margin-left: 9rem;
  background: #131f56;
  color: white;
  text-align: center;
  margin-top: -1rem;

}
