// main content

.container {
  margin: 8rem;

  // background: papayawhip;
}

.main-content__grid {
  display: flex;
  flex-direction: row;

  flex-basis: calc(100% / 2 - 8rem);
  justify-content: space-between;

  &:nth-of-type(2n) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.main-content__grid--pic {
  margin: 1rem;
}

.title {
  text-align: center;
}

.grid-paragraph {
  text-align: center;
}
