// main content
.container  {
  max-width: 100%;
  background: papayawhip;
}

.main-content__grid  {
  max-width: 65rem;
}

.title  {
  text-align: center;
}

.grid-paragraph  {
  text-align: center;
}
