// main content
.container  {
  margin: 8rem;

  background: papayawhip;
}

.main-content__grid  {
  display: flex;
  flex-direction: row;

  flex-basis: calc(100% / 2 - 8rem);
  justify-content: space-around;



}

.title  {
  text-align: center;
}

.grid-paragraph  {
  text-align: center;
}
