.nav-bar   {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  padding: 0.5rem 2rem;
  background: #131f56;
  color: #eee;
}

.nav-items  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.nav-links,
a {
  padding: 0.5rem;
  color: white;
  text-decoration: none;

}
